@page "/about"

<PageTitle>About me</PageTitle>

<h3>I’m a programmer with over 8 years' experience, specializing in various areas, and have extensive experience with the Microsoft stack of technologies</h3>
