@page "/"


<PageTitle>Sachin Panchal | Blazor</PageTitle>

<div class="container">
    <div class="background">
    </div>
    <div class="foreground">
        <div class="content">
            <h1 class="name">Sachin Panchal</h1>
            <br />
            <br />
            <h6 class="bio">
                [info] Getting details from sessions...
            </h6>

            <a href="/contact" tabindex="-1">
                <button class="outlined">Contact Me</button>
            </a>
        </div>
    </div>
</div>
