<div class="row" style="text-align:center">
    <div class="col-6">
        <h1 style="font-size:100px">404</h1>
    </div>
    <div class="col-6 d-flex align-items-center">
        <div class="row">
            <div class="col-12" style="text-align:center">
                <h1 class="text-center">Not Found!</h1>
                <p class="text-center fs-2">Your requested page doesn't exist.</p>
            </div>
        </div>
    </div>
</div>