@using Portfolio.Shared.Icons;

<footer class="bottomBar">
    <div class="container">
        <a href="https://github.com/sachinp725/portfolio-blazor" target="_blank"
           rel="noreferrer noopener" class="section">
            <SourceControlIcon />
            <p>main</p>
        </a>

        <div class="section">
            <ErrorIcon />
            <p class="errorText">0</p>&nbsp;&nbsp;
            <WarningIcon />
            <p>0</p>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <BlazorIcon />
            <p>Powered by ASP.NET Blazor</p>
        </div>
        <div class="section">
            <CheckIcon />
            <p>Prettier</p>
        </div>
        <div class="section">
            <BellIcon />
        </div>

    </div>
</footer>
