@inherits LayoutComponentBase

<Titlebar />
<div class="main">
    <Sidebar />
    <Explorer />
    <div style="width:100%">
        <Tabsbar />
        <main id="main-editor" class="content">
        @Body
        </main>
    </div>
</div>
<Footerbar />