<section class="titlebar">
    <img class="icon"
         src="images/vscode_icon.svg"
         alt="VSCode Icon"
         height=15
         width=15 />
    <div class="items">
        <p>File</p>
        <p>Edit</p>
        <p>Selection</p>
        <p>View</p>
        <p>Go</p>
        <p>Run</p>
        <p>Terminal</p>
        <p>Help</p>
    </div>
    <p class="title">Sachin Panchal - Visual Studio Code</p>
    <div class="windowButtons">
        <span class="minimize"></span>
        <span class="maximize"></span>
        <span class="close"></span>
    </div>
</section>


@code {

}
